<!DOCTYPE html>
<article class="speakerslist">
    <section class="layout">
        <div class="speakers">
           <ul>
               <article class="artistlist" ng-repeat="item in artists">
                   <a href="#!/{{artists.indexOf(item)}}">
                       <img class="artist cf" ng-src="images/speakers/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}">
                       <div>
                           <h2>{{item.name}}</h2>
                           <h3>{{item.title}}</h3>
                       </div>
                   </a>
               </article>
           </ul>
        </div>
    </section>
</article>